scripts=["
    create service user anf-admin-service-user with path /home/users/system/anf
    set ACL for anf-admin-service-user
        allow jcr:all on /content/usergenerated
        allow jcr:all on /content/anf-code-challenge
        allow jcr:all on /content/dam/anf-code-challenge
        allow jcr:all on /var/commerce/products/anf-code-challenge
        allow jcr:all on /var/anf-code-challenge
    end
"]